
{% extends 'base.html.twig' %}

{% block title %}{{ 'Tasks' }}{% endblock %}

{% block body %}


{% for task in tasks %}


   <p> <a href="{{ path('app_task', {'id': task.id }) }}">{{ task.title }}</a> </p>
{% endfor %}


{% endblock %}